body {
    font-family: "Courier New";
    background-color: gray;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
#pet{
    font-family: serif;
    font-size:50px;
    background-color: #4c4c4c;
    display: block;
}
